<div class="span12">
    <h2>Logged out</h2>

    <p>You're not logged in yet. Please register or login first.</p>

    <div class="row">
        <div class="span6">
            <form id="login" class="well form-horizontal">
                <fieldset>
                    <legend>Login</legend>
                    <input type="text" class="input-large" name="name" placeholder="Username" />
                    <input type="password" class="input-large" name="password" placeholder="Password" />
                    <button class="btn" type="submit">Login</button>
                </fieldset>
            </form>
        </div>
        <div class="span6">
            <form id="register" class="well form-horizontal">
                <fieldset>
                    <legend>Register</legend>
                    <input type="text" class="input-large" name="name" placeholder="Username" />
                    <input type="password" class="input-large" name="password" placeholder="Password" />
                    <button class="btn" type="submit">Register</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
