<div class="span12">
    <h1>Blog</h1>

{{#posts}}
    <h2><a href="/post/{{_id}}">{{title}}</a></h2>
    <p>By {{author}}</p>
    <p>{{abstract}}</p>
    <p><a href="/post/{{_id}}">Read more …</a>
{{/posts}}
{{^posts}}
    <div class="alert alert-info">
        <p>No blog posts yet.</p>
    </div>
{{/posts}}
</div>
