<div class="span12">
    <h1>{{post.title}}</h1>
    <p>{{post.text}}</p>

    <h2>Comments</h2>
    
    <ul class="comments">
    {{#comments}}
        <li style="margin-left: {{doc.margin}}px">
            <p>By {{doc.author}}</p>
            <p>{{doc.comment}}</p>
            <!-- p><a onclick="$( '#comment-parent' ).val( '{{doc.serializedPath}}' ); return true" href="#comment-create">Answer…</a></p -->
        </li>
    {{/comments}}
    </ul>

    <form class="well form-horizontal" id="comment-create">
        <fieldset>
            <legend>Add comment</legend>

            <div class="control-group">
                <label class="control-label" for="comment-name">Name</label>
                <div class="controls">
                    <input name="name" type="text" class="input-xlarge" id="comment-name" />
                </div>
            </div>

            <!-- div class="control-group">
                <label class="control-label" for="comment-parent">Answer to…</label>
                <div class="controls">
                    <input name="parent" type="text" class="input-xlarge" id="comment-parent" />
                </div>
            </div -->

            <div class="control-group">
                <label class="control-label" for="comment-comment">Comment</label>
                <div class="controls">
                    <textarea name="comment" type="text" class="input-xlarge" id="comment-comment"></textarea>
                </div>
            </div>

            <div class="form-actions">
                <input name="post" type="hidden" value="{{post._id}}" />
                <button type="submit" class="btn btn-primary">Comment</button>
            </div>
        </fieldset>
    </form>
</div>
