<div class="span12">
    <form class="well form-horizontal" id="post-create">
        <fieldset>
            <legend>Create a new blog post</legend>

            <div class="control-group">
                <label class="control-label" for="post-title">Title</label>
                <div class="controls">
                    <input name="title" type="text" class="input-xlarge" id="post-title" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="post-abstract">Abstract</label>
                <div class="controls">
                    <textarea name="abstract" type="text" class="input-xlarge" id="post-abstract"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="post-text">Text</label>
                <div class="controls">
                    <textarea name="text" type="text" class="input-xlarge" id="post-text"></textarea>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Publish</button>
            </div>
        </fieldset>
    </form>
</div>
