<div class="span12">
    <form class="well form-horizontal" id="watch-create">
        <fieldset>
            <legend>Neue Uhr anlegen</legend>

            <div class="control-group">
                <label class="control-label" for="watch-number">Nummer</label>
                <div class="controls">
                    <input name="number" type="text" class="input" id="watch-number">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="watch-material">Material</label>
                <div class="controls">
                    <input name="material" type="text" class="input" id="watch-material">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="watch-value">Wert</label>
                <div class="controls">
                    <input name="value" type="text" class="input" id="watch-value">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="watch-features">Besonderheiten</label>
                <div class="controls">
                    <textarea name="features" class="input" id="watch-features"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="watch-hinged">Sprungdeckel</label>
                <div class="controls">
                    <label class="checkbox">
                        <input name="hinged" id="watch-hinged" value="true" type="checkbox" />
                        Taschenuhr ist klappbar.
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="watch-gravure">Gravur</label>
                <div class="controls">
                    <textarea name="gravure" class="input" id="watch-gravure"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="watch-producer">Produzent</label>
                <div class="controls">
                    <input name="producer" type="text" class="input" id="watch-producer">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="watch-precision">Genauigkeit</label>
                <div class="controls">
                    <input name="precision" type="text" class="input" id="watch-precision">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="watch-build">Herstellungsdatum</label>
                <div class="controls">
                    <input name="build" type="text" class="input" id="watch-build">
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Anlegen</button>
            </div>
        </fieldset>
    </form>
</div>
