<div class="span4">
    <h2>Bilder</h2>

    <ul class="thumbnails">
    {{#_attachments}}
        <li class="span4">
            <button data="{{_id}}/{{name}}?rev={{_rev}}" class="btn btn-mini" style="position: absolute;">
                <i class="icon-trash"></i>
            </button>
            <a href="/api/{{_id}}/{{name}}" class="thumbnail">
                <img src="/api/{{_id}}/{{name}}" alt="{{name}}" />
            </a>
        </li>
    {{/_attachments}}
    {{^_attachments}}
        <li class="span4">
            <p>Keine Bilder vorhanden.</p>
        </li>
    {{/_attachments}}
    </ul>

    <div class="modal" id="watch-upload" style="display: none;">
        <div class="modal-header">
            <h3>Bild wird hochgeladen</h3>
        </div>
        <div class="modal-body">
            <p>Bitte warten während das Bild hochgeladen wird…</p>
        </div>
    </div>
</div>
<div class="span8">
    <h1>Uhr {{number}}</h1>

    <table class="table table-condensed">
        <tbody>
            <tr><th>Nummer</th><td>{{number}}</td></tr>
            <tr><th>Material</th><td>{{material}}</td></tr>
            <tr><th>Besonderheiten</th><td><p>{{features}}</p></td></tr>
            <tr><th>Gravur</th><td><p>{{gravure}}</p></td></tr>
            <tr><th>Sprungdeckel</th><td>{{#hinged}}x{{/hinged}}</td></tr>
            <tr><th>Genauigkeit</th><td>{{precision}}</td></tr>
            <tr><th>Baujahr</th><td>{{build}}</td></tr>
            <tr><th>Produzent</th><td>{{producer}}</td></tr>
            <tr><th>Wert</th><td>{{value}} €</td></tr>
        </tbody>
    </table>

    <form action="/api/{{_id}}" method="POST" class="well form-vertical" id="watch-attach">
        <fieldset>
            <legend>Bild hinzufügen</legend>
            <input name="_rev" value="{{_rev}}" type="hidden">

            <div class="control-group">
                <div class="controls">
                    <input name="_attachments" type="file" class="input-file" />
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Anhängen</button>
        </fieldset>
    </form>
</div>
